<!DOCTYPE html>
<html>
<head>
    <title>Collect Emotion Dataset</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-10 rounded-lg shadow-xl">
        <div class="flex items-center justify-center mb-5">
            <video id="video" autoplay class="border-2 border-gray-300 rounded-lg"></video>
        </div>
        <select id="emotionInput" class="w-full p-2 mb-4 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
            <option value="" disabled selected hidden>Choose emotion...</option>
            <option value="anger">Anger</option>
            <option value="contempt">Contempt</option>
            <option value="disgust">Disgust</option>
            <option value="fear">Fear</option>
            <option value="happiness">Happiness</option>
            <option value="neutrality">Neutrality</option>
            <option value="sadness">Sadness</option>
            <option value="surprise">Surprise</option>
        </select>
        <div class="flex space-x-4">
            <button id="captureButton" class="w-full p-2 border-none bg-indigo-500 text-white font-semibold rounded-lg shadow-lg hover:bg-indigo-600 transition duration-200">Capture</button>
            <button id="trainingButton" class="w-full p-2 border-none bg-indigo-500 text-white font-semibold rounded-lg shadow-lg hover:bg-indigo-600 transition duration-200">Training</button>
            <button id="predictButton" class="w-full p-2 border-none bg-indigo-500 text-white font-semibold rounded-lg shadow-lg hover:bg-indigo-600 transition duration-200">Predict Emotion</button>
        </div>
        <div id="result" class="mt-5 text-center hidden">
            <h2 class="text-lg font-semibold mb-2">Predicted Emotion:</h2>
            <p id="emotionOutput" class="text-xl font-bold"></p>
        </div>
    </div>

    <script>
        var video = document.getElementById('video');
        var captureButton = document.getElementById('captureButton');
        var predictButton = document.getElementById('predictButton');
        var trainingButton = document.getElementById('trainingButton');
        var emotionInput = document.getElementById('emotionInput');
        var resultDiv = document.getElementById('result');
        var emotionOutput = document.getElementById('emotionOutput');

        var constraints = { video: true };

        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.log('Error: ' + error);
            });

        captureButton.addEventListener('click', function () {
            var emotionLabel = emotionInput.value;
            if (!emotionLabel) {
                alert('Please choose an emotion before capturing.');
                return;
            }

            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageData = canvas.toDataURL('image/jpeg');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert('Upload berhasil');
                        // predictEmotion(emotionLabel);
                    } else {
                        alert('Terjadi kesalahan saat mengunggah');
                    }
                }
            };

            var formData = new FormData();
            formData.append('image', imageData);
            formData.append('emotion', emotionLabel);

            xhr.send(formData);
        });

        predictButton.addEventListener('click', function () {
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageData = canvas.toDataURL('image/jpeg');
            
            predictEmotion(imageData);
        });

        trainingButton.addEventListener('click', function () {
            var emotionLabel = emotionInput.value;
            if (!emotionLabel) {
                alert('Please choose an emotion before training.');
                return;
            }

            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageData = canvas.toDataURL('image/jpeg');
            
            trainingEmotion(imageData, emotionLabel);
        });

        function predictEmotion(imageData) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/predict', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var predictedEmotion = xhr.responseText;
                        showResult(predictedEmotion);
                        alert('Predicted Emotion: ' + predictedEmotion);
                    } else {
                        alert('Terjadi kesalahan saat memprediksi emosi');
                    }
                }
            };
            
            var formData = new FormData();
            formData.append('image', imageData);

            xhr.send(formData);
        }

        function trainingEmotion(imageData, emotionLabel) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/finetune', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var trainingEmotion = xhr.responseText;
                        alert('Training Emotion: ' + trainingEmotion);
                    } else {
                        alert('Terjadi kesalahan saat training emosi');
                    }
                }
            };
            
            var formData = new FormData();
            formData.append('image', imageData);
            formData.append('emotion', emotionLabel);

            xhr.send(formData);
        }

        function showResult(emotion) {
            emotionOutput.textContent = emotion;
            resultDiv.classList.remove('hidden');
            getAIResponse(emotion);
        }

        function getAIResponse(emotion) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/respond', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText).response;
                        alert('AI Response: ' + response);
                    } else {
                        alert('Terjadi kesalahan saat mendapatkan respons AI');
                    }
                }
            };
            xhr.send('emotion=' + encodeURIComponent(emotion));
        }
    </script>
</body>
</html>